.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageNumber {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.movie-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movie-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movie-card{
    display: flex;
    background-color: #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 2px solid black;
    margin: 20px;
    width: 20%;
    height: 250px;
}


.movie-details{
    display: none;
}