.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.movie-header-class{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

button {
    /* padding: 8px; */
    background-color: #4CAF50;
    border: 5px solid #4CAF50;
    border-radius: 1px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
}


.pageNumber {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.movie-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movie-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movie-card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;

}
.movie-card:hover{
    border-color: red;
}

.movie-card img {
    width: 100%;
    height: 300px;
    border-radius: 8px 8px 0 0;
}

.movie-info {
    padding: 10px;
}




.movie-details{
    display: none;
    flex-direction: column;
    width: 90%;
    border: 2px solid black;
    margin: 20px;
}


.movie-details-container{
    display: flex;
    flex-direction: row;
    background-color: aqua;
}

.movie-details-info-container{
    padding: 10px;
}

.comment-container{
    display: flex;
    flex-direction: column;

}

.comment-container button{
    width: 150px;
}

.comment-box-style{
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#pagination{
    display: flex;
    flex-wrap: wrap;
}



movie-details-container{
    display: flex;
    flex-direction: row;
    background-color: aqua;
}

@media (max-width: 767px){
    .movie-details-container{
        flex-direction: column;
    }
    
}

